<!DOCTYPE HTML>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Settings</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Corinthia' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
  <link href="https://fonts.cdnfonts.com/css/gistesy" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <script
          src="https://code.jquery.com/jquery-3.7.0.js"
          integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
          crossorigin="anonymous">
  </script>

</head>
<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href = "/logout">Logout</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white " style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col w3-bar">
      <span id = "welcomecard">
  <strong th:text="${pharmacy.Fname} + ' ' + ${pharmacy.Lname}" style="font-size: 1.5em;"></strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5><b>Pharmacy Dashboard</b></h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>


    <a th:href="@{/pharmacy/{username}(username=${pharmacy.username})}" class="w3-bar-item w3-button w3-padding">  Overview  </a>
    <a th:href="@{/pharmacy/{username}/prescriptions(username=${pharmacy.username})}"  class="w3-bar-item w3-button w3-padding">Prescriptions </a>
    <a th:href="@{/pharmacy/{username}/inventory(username=${pharmacy.username})}" class="w3-bar-item w3-button w3-padding">Inventory & Medicine  </a>
    <a th:href="@{/pharmacy/{username}/ordermedicine(username=${pharmacy.username})}" class="w3-bar-item w3-button w3-padding">Order Medicine  </a>
    <a th:href="@{/pharmacy/settings}" class="w3-bar-item w3-button w3-padding w3-blue">Profile Settings  </a>

  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b> Pharmacy Settings</b></h3>
  </header>



  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>General Information</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa w3-text-blue w3-large"></i></td>
            <td>Company Name</td>
            <td><i id = "pharmacyname" th:text = "${pharmacy.Fname} + ' ' + ${pharmacy.Lname}"></i></td>
          </tr>
          <tr>
            <td><i class="fa w3-text-red w3-large"></i></td>
            <td>Username</td>
            <td><i id = "pharmacyusername" th:text = "${pharmacy.username}"></i></td>
          </tr>
          <tr>
            <td><i class="fa w3-text-blue w3-large"></i></td>
            <td>Contact Number</td>
            <td><i id = "pharmacypno" th:text = "${pharmacy.pno}"></i></td>
          </tr>
          <tr>
            <td><i class="fa w3-text-yellow w3-large"></i></td>
            <td>Email Address</td>
            <td><i id = "pharmacyemail" th:text = "${pharmacy.email}"></i></td>
          </tr>
          <tr>
            <td><i class="fa w3-text-green w3-large"></i></td>
            <td>Address</td>
            <td><i id = "pharmacyaddress" th:text="${pharmacy.address}"></i></td>
          </tr>
          <tr>
            <td><i class="fa w3-text-green w3-large"></i></td>
            <td>Opening Hours</td>
            <td><i id = "pharmacyopening" th:text="${pharmacy.openingHours}"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>


  <div class="w3-container">
    <h5>Profile Settings</h5>
    <form id = "pharmacySettingsForm" action = "/pharmacy/settings" method = "POST" >
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">

        <tr>
          <td>Change Company Name</td>
          <td>
            <input id = "Fname" class="w3-input w3-border w3-round w3-margin-bottom" type="text" placeholder="Name" pattern = "^[a-zA-Z]+.$" name = "Fname">
            <input id = "Lname" class="w3-input w3-border w3-round" type="text" placeholder="ex: Pharmacy" pattern = "^[a-zA-Z]+.$" name = "Lname">
          </td>
        </tr>
        <tr>
          <td>Change Contact Number</td>
          <td><input id = "pno" class="w3-input w3-border w3-round" type="text" placeholder="Enter new Phone Number" name = "pno"></td>
        </tr>
        <tr>
          <td>Change Password</td>
          <td>
            <input class="w3-input w3-border w3-round w3-margin-bottom" name = "Password" type="text" placeholder="Password" id = "passwrd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onfocus = "pupd('focus')" onblur = "pupd('blur')" onkeyup = "pchek(this.value)" onChange = "match()">
            <input class="w3-input w3-border w3-round w3-right" id = "cpasswrd" type="text" placeholder="Confirm Password"></td>
        </tr>
        <tr>
          <td>Change Company Address</td>
          <td><input id = "address" class="w3-input w3-border w3-round w3-right" name = "address" type="text" placeholder="Enter new company Address"></td>
        </tr>
        <tr>
          <td>Change Opening Hours</td>
          <td><input id = "openhours" class="w3-input w3-border w3-round w3-right" name = "openingHours" type="text" placeholder="ex: from Monday to Saturday from 9am to 8pm"></td>
        </tr>

      </table><br>
      <div id = "pcheck" >
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="spchar" class="invalid">A <b>special charecter</b></p>
        <p id="lengt" class="invalid">Minimum <b>8 characters</b></p>
      </div>
      <!--<button class="w3-button w3-dark-grey" id="saveSettings">Apply Changes </button>-->
      <button class="w3-button w3-dark-grey" id="saveSettings">Apply Changes</button>
    </form>
    <div id="responseMessage"></div>
  </div>
  <hr>



  <br>
<footer class="w3-container w3-padding-16 w3-dark-grey">
  <h4>Group 14 Y2S1 CS BATCH</h4>
  <p>This part by <a href="https://github.com/ApiramR/OOAD.git" target="_blank">nipunmeegoda it23283626</a></p>
</footer>
</div>


<!-- End page content -->


<script>

  function pchek(v){
    var lowerCaseLetters = /[a-z]/g;
    if(v.match(/[a-z]/g)){
      letter.classList.remove("invalid");
      letter.classList.add("valid");
    } else {
      letter.classList.remove("valid");
      letter.classList.add("invalid");
    }
    if(v.match(/[A-Z]/g)) {
      capital.classList.remove("invalid");
      capital.classList.add("valid");
    } else {
      capital.classList.remove("valid");
      capital.classList.add("invalid");
    }

    // Validate numbers
    if(v.match(/[0-9]/g)) {
      number.classList.remove("invalid");
      number.classList.add("valid");
    } else {
      number.classList.remove("valid");
      number.classList.add("invalid");
    }
    if (v.match(/[" !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"]/g)){
      spchar.classList.remove("invalid");
      spchar.classList.add("valid");
    }
    else{
      spchar.classList.remove("valid");
      spchar.classList.add("invalid");
    }
    // Validate length
    if(v.length >= 8) {
      lengt.classList.remove("invalid");
      lengt.classList.add("valid");
    } else {
      lengt.classList.remove("valid");
      lengt.classList.add("invalid");
    }
  }
  function pupd(v){
    if (v == 'blur'){
      document.getElementById("pcheck").style.display = "none";
      return;
    }
    document.getElementById("pcheck").style.display = "block";
    return;
  }
  function match(){
    var u = document.getElementById("cpasswrd");
    var v = document.getElementById("passwrd");
    if (v.value === u.value) {
      u.setCustomValidity('');
    } else {
      u.setCustomValidity('Passwords do not match');
    }
  }

  $(document).ready(function () {
      // Automatically populate the form with pharmacy data
      // function populateForm(pharmacyData) {
      //   $("#Fname").val(pharmacyData.Fname);
      //   $("#Lname").val(pharmacyData.Lname);
      //   $("#pno").val(pharmacyData.pno);
      //   $("#address").val(pharmacyData.address);
      //   $("#openhours").val(pharmacyData.openingHours);
      // }

      // // Extract pharmacy data from Thymeleaf variables
      // const pharmacyData = {
      //   Fname: $("strong").attr("th:text").split(' ')[0], // Example to fetch Fname
      //   Lname: $("strong").attr("th:text").split(' ')[1], // Example to fetch Lname
      //   pno: $("#contactNumber").text(),
      //   address: $("#addressData").text(),
      //   openingHours: $("#openHoursData").text()
      // };

      // populateForm(pharmacyData);

      // Apply changes and update data using PUT
      $("#saveSettings").on("click", function (event) {
        event.preventDefault();
        var formData = new FormData($("#pharmacySettingsForm")[0]);
        $.ajax({
          url: `/pharmacy/settings`,
          type: 'POST',
          data: formData,
          contentType: false,
          processData:false,
          success: function (response) {
            $("#responseMessage").text("Settings updated successfully!");
            let updatedName = response.Fname + " " +
                    response.Lname;
            console.log(updatedName);
            $("#pharmacyname").text(updatedName);
            $("#pharmacyusername").text(response.username);
            $("pharmacyno").text(response.pno);
            $("pharmacyemail").text(response.email);
            $("pharmacyopening").text(response.openingHours);
            $("#welcomecard strong").text(updatedName);
          },
          error: function (xhr) {
            $("#responseMessage").text("Update failed: " + xhr.responseText);
          }
        });
      });


  });




</script>

</body>
</html>