<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Navigation</title>
    <!-- Linking CSS from the static folder -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="patient.html">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                           Patients
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="prescription.html">
                        <i class="fa fa-file-text fa-2x"></i>
                        <span class="nav-text">
                            Prescriptions
                        </span>
                    </a>
                    
                </li>
                
            </ul>
        </nav>
        
  </body>
    </html>