<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="/css/patient.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="w3-container">
            <h2>Search Patient Details</h2>

            <!-- Search Form -->
            <form id="sPatient">
                <div>
                    <input name="patientID" type="number" id="patientSearch" placeholder="Enter Patient ID" />
                    <button type="button" id="patientSearchBtn" class="w3-button w3-green">Search</button>
                </div>
            </form>

            <!-- Error Message -->
            <div id="errorMessage" style="color: red; display: none;">
                <p>No patient found with the given ID.</p>
            </div>

            <!-- Patient Details -->
            <div class="w3-panel" id="patientDetails" style="display: none;">
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-twothird">
                        <h5>General Information</h5>
                        <table class="w3-table w3-striped w3-white">
                            <tr>
                                <td>Full Name:</td>
                                <td id="patientName"></td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td id="gender"></td>
                            </tr>
                            <tr>
                                <td>Phone Number:</td>
                                <td id="contact"></td>
                            </tr>
                            <tr>
                                <td>Age:</td>
                                <td id="age"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/patient.js"></script>
</body>
</html>
