<!DOCTYPE HTML>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>OOAD</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Corinthia' rel='stylesheet'>  
        <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/gistesy" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
        <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous">
        </script>

    </head>
    <body class="w3-light-grey">
        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-right"><a href = "/logout">Logout</a></span>
        </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img th:src="${supplier.profilepic}" class="w3-circle w3-margin-right" style="width:80px;height:80px" alt="profile picture">
            </div>
            <div class="w3-col w3-bar">
            <span>Welcome, <strong th:text="${supplier.Fname} + ' ' + (${supplier.Mname} != null and ${supplier.Mname} != '' ? ${supplier.Mname} + ' ' : '') + ${supplier.Lname}"></strong></span><br>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a th:href="@{/supplier/{username}/profile(username=${supplier.username})}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Profile </a>
            <a th:href="@{/supplier/{username}/reports(username=${supplier.username})}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Inventory  </a>
            <a th:href="@{/supplier/{username}/prescriptions(username=${supplier.username})}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bullseye fa-fw"></i>  Orders </a>
            <a th:href="@{/supplier/settings(username=${supplier.username})}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>


    <div class="w3-panel">
        <div class="w3-row-padding" style="margin:0 -16px">
        
        <div class="w3-twothird">
            <h5>Orders</h5>
            <table class="w3-table w3-striped w3-white" id = "prescriptlist">
                <tr>
                    <td>order ID</td>
                    <td>Order Med</td>
                    <td>Date Issued</td>
                    <!-- <td><a th:text = "${instance.des}" type="application/pdf" target="_blank">view report</a></td> -->
                </tr>
                <!-- <tr th:each = "instance : ${prescriptions}" th:if="${instance.count != 0}">
                    <td th:text="${instance.meds.medID}"></td>
                    <td th:text="${instance.dosage}"></td>
                    <td th:text="${instance.dateIssued}"></td>
                    <td th:text="${instance.count}"></td>
                    <td><a th:href = "@{/supplier/search/{medid}(medid=${instance.meds.medID})}">Find the Pharmacy</a></td>
                    <!-- <td><a th:text = "${instance.des}" type="application/pdf" target="_blank">view report</a></td> 
                    
                </tr> -->
            </table>
        </div>
        </div>
    </div>
    
    <hr>

    
    <br>
    

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>Powered by <a href="#hehe" target="_blank">Apiram</a></p>
    </footer>

    <!-- End page content -->
    </div>

    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
    </script>

    </body>
</html>